default_install_hook_types: ["pre-push"]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: lint
        name: golangci
        entry: golangci-lint run ./...
        language: system
        pass_filenames: false
        types: [file, go]
      - id: formatting
        language: system
        name: format with gofumpt
        types: [file, go]
        entry: gofumpt -w ./cmd/lazyworktree/ ./internal/
